---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<h2>
		{SITE_TITLE}
	</h2>
	<nav>
		<HeaderLink href="/">Inicio</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/about">Sobre mí</HeaderLink>
		<HeaderLink href="https://adriacara.github.io/dobdeb" target="_blank">dobdeb</HeaderLink>
		<HeaderLink href="https://github.com/AdriaCara" target="_blank">GitHub</HeaderLink>
	</nav>
</header>
<style>
	header {
		margin: 0em 0 2em;
		text-align: center;
		background-color: rgba(0, 0, 0, 0.265);
		border-radius: 2vh;
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
