---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		display: inline-block;
		text-decoration:overline;
		color: #3ea8ff;
	}
	a.active {
		font-weight: bolder;
		text-decoration: underline;
		color: #3effff;
	}
	a:hover {
		color: #3effff;
		text-decoration: underline;
	}
	a:is(:hover, :focus-within) a.active {
		text-decoration:overline;
		color: #3ea8ff;
	}
</style>
